.entrar {
    text-align: center;
    animation: entrar 3s forwards;
}

.entrar img {
    margin: 20px 0;
    width: 400px;
}


@keyframes entrar {
    0% {
        transform: translateX(-800px);
    }
}