main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    width: 70%;
}

main h2 {
    margin-top: 30px;
}


li {
    list-style: none;
    margin-top: 5%;
    background-color: aliceblue;
    padding: 1%;
    border: 1px solid;
}

.subtitulo {
    font-size: 40px;
}

@media (max-width:600px) {

    main {
        padding: 10px;
    }

   main p,
   li p
   {
    font-size: 18px;
   }

    .dato {
        width: 80% !important;
    }
}