/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #FAF7F0;
    line-height: 1.6;
    color: #4D4D4D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    background-color: #77A6F7;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header a img {
    transition: 0.5s ease;
}

header a img:hover {
    filter: drop-shadow(5px 5px 10px #FFFFFF);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo img {
    height: 50px;
    margin-right: 20px;
}

nav a {
    margin-right: 10px;
    padding: 8px 2px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #AAC8A7; /* Suave cambio de color */
    color: #4D4D4D;
}

main {
    margin: 20px 0px;
    padding: 0 20px;
    min-height: 100vh;
}

.dato {
    border-left: 5px solid #AAC8A7;
    padding: 20px;
    background-color: #FFFFFF;
    color: #4D4D4D;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.parrafo {
    padding: 40px 20px;
    background-color: #FFFFFF;
    width: 60%;
    margin: 20px auto;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

footer {
    padding: 30px 20px;
    margin-top: auto;
    background-color: #497174;
    color: #FAF7F0;
    font-size: 14px;
    text-align: center;
}

.datos {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 2px solid #89B3B9;
    gap: 20px;
}

.datos div {
    font-size: 14px;
    width: 25%;
    color: #FAF7F0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.datos div a { 
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: #89B3B9;
    transition: color 0.3s ease;
}

.datos div a:hover {
    color: #AAC8A7;
}

.navegador a:hover {
    border-bottom: 2px solid #89B3B9;
}

.redes a {
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.redes a:hover {
    filter: drop-shadow(0 0 20px #FFFFFF);
}

.redes a img {
    max-height: 20px;
}

#btn-menu,
#menu,
.desplegado {
    display: none;
}

@media (max-width:600px) {
    .menu {
        display: none;
    }

    .desplegado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        background-color: #77A6F7;
        width: 120px;
        position: absolute;
        top: 90px;
        right: 10px;
        z-index: 1;
    }

    .desplegado a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }

    #btn-menu {
        position: absolute;
        right: 10px;
        height: 26px;
        width: 26px;
        border: 2px solid #FFFFFF;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #btn-menu span {
        background-color: #FFFFFF;
        height: 2px;
        width: 14px;
        border-radius: 5px;
    }

    .entrar img {
        margin: 20px 0;
        width: 100%;
    }

    .datos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .datos div {
        width: 100%;
        padding: 20px 0;
    }

    .parrafo {
        width: 90%;
    }
}


.highlight {
    font-weight: bold;
}

.azul {
    color: #007BFF;
}

.rojo {
    color: #D9534F;
}

.description {
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
}

span {
    background-color: #ffeb3b;
    padding: 0 5px;
    border-radius: 4px;
}

span:hover {
    background-color: #f9e52f;
    cursor: pointer;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-up img {
    height: 50px;
}

.show {
    display: block;
}