/* Estilos generales*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    background-color: #780000;
    padding: 10px;
}

header a {
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header a img {
    transition: .5s ease;
}

header a img:hover {
    filter: drop-shadow(5px 5px 10px whitesmoke);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo img {
    height: 50px;
    margin-right: 20px;
}

nav a {
    margin-right: 10px;
}

nav a:hover {
    border-bottom: 2px solid white;
}

main {
    margin: 20px 0px;
    min-height: 100vh;
}

.dato {
    border-left: 5px #5D89BF solid;
    padding: 0 20px;
    color: rgb(73, 73, 73);
    width: 80%;
    margin: auto;
    text-align: justify;
}

.parrafo {
    padding: 40px 10px;
    color: rgb(73, 73, 73);
    width: 60%;
    margin: auto;
    text-align: justify;
}

footer {
    padding: 30px;
    margin-top: auto;
    min-height: 25vh;
    background-color: #003049;
}

.datos {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 2px #669BBC solid;
}

.datos div {
    font-size: 13px;
    width: 25%;
    color: #669BBC;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.datos div a{ 
    display: flex;
    gap: 3px;
    text-decoration: none;
    color: #669BBC;
    width: fit-content;
}

.navegador a:hover {
    border-bottom: 2px solid #669BBC;
}

.redes a {
    display: flex;
    align-items: center;
    transition: .5 ease;
}

.redes a:hover {
    filter: drop-shadow(0 0 20px whitesmoke);
}

.redes a img {
    max-height: 20px;
}

.redes a .ig {
    max-height: 26px;
}

.redes a .face {
    margin-left: 3px;
}

.redes a .x {
    margin-top: 2px;
    margin-left: 3px;
    max-height: 18px;
}



#btn-menu,
#menu,
.desplegado {
    display: none;
}

@media (max-width:400px) {

    .menu {
        display: none;
    }

    .desplegado {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        margin-left: 10px;
        background-color: #780000;
        width: 100px;
        position: absolute;
        top: 100px;
        right: 10px;
        padding: 10px;
        z-index: 1;
    }

    .desplegado a {
        color: whitesmoke;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 10px;

    }


    #btn-menu {
        height: 26px;
        width: 26px;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #btn-menu span {
        background-color: white;
        height: 2px;
        width: 14px;
        border-radius: 5px;
    }

}

@media (max-width:600px) {
    .entrar img {
        margin: 20px 0;
        width: 100%;
        
    }

    .datos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .datos div {
        width: 100%;
        padding: 2  0px;
    }

}
