<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayudas</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/galeria.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="logo" title="Inicio">
            <img src="../imgs/logo.png" alt="logo">
            <h2 class="titulo">Salud Mental</h2>
        </a>

        <button id="btn-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <script>
            document.querySelector('#btn-menu').addEventListener('click', () =>
                document.querySelector('.menu').classList.toggle('desplegado')
            );
        </script>

        <div>
            <nav class="menu">
                <a href="../../index.html">Inicio</a>
                <a href="informacion.html">Información</a>
                <a href="galeria.html">Ayudas</a>
                <a href="sobreNosotros.html">Sobre nosotros</a>
                <a href="contacto.html">Contactos</a>
            </nav>
        </div>

    </header>

    <nav id="menu" class="menu">
        <a href="../../index.html">Inicio</a>
        <a href="informacion.html">Información</a>
        <a href="galeria.html">Ayudas</a>
        <a href="sobreNosotros.html">Sobre nosotros</a>
        <a href="contacto.html">Contactos</a>
    </nav>

    <main>
        <div class="galeria">
            <!-- Hospital Bonaparte -->
            <section class="hospital">
                <img src="../imgs/bonaparte.jpg" alt="Hospital Bonaparte">
                <div class="hospital-info">
                    <h3>Hospital Nacional en Red “Lic. Laura Bonaparte”</h3>
                    <p><strong>Ubicación:</strong> Combate de los Pozos 2133, CABA (Ciudad Autónoma de Buenos Aires).</p>
                    <p><strong>Contacto:</strong> Teléfono: (54-11) 4304-6353, Correo electrónico: info@hospitalbonaparte.gob.ar.</p>
                    <p><strong>Horarios:</strong> Lunes de 9 a 19 hs; martes a viernes de 8 a 20 hs. Guardia abierta las 24 horas todos los días para urgencias.</p>
                    <p><strong>Línea gratuita de atención:</strong> 0800-999-0091</p>
                    <p>Este hospital es un centro de referencia en salud mental y aborda también temas de consumos problemáticos.</p>
                </div>
            </section>
    
            <!-- Hospital Universitario Austral -->
            <section class="hospital">
                <img src="../imgs/austral.jpg" alt="Hospital Universitario Austral">
                <div class="hospital-info">
                    <h3>Hospital Universitario Austral</h3>
                    <p><strong>Ubicación:</strong> Pilar, Buenos Aires</p>
                    <p><strong>Teléfono:</strong> +54 230 438-8888</p>
                    <p><strong>Servicios:</strong> Ofrece consultas de psiquiatría y psicología para adultos e infanto-juveniles, con atención en trastornos afectivos, psicóticos, ansiedad, entre otros.</p>
                    <p><strong>Horario de atención:</strong> Consultar directamente para detalles específicos de cada servicio.</p>
                </div>
            </section>
    
            <!-- Hospital Borda -->
            <section class="hospital">
                <img src="../imgs/borda.jpg" alt="Hospital Borda">
                <div class="hospital-info">
                    <h3>Hospital Borda (Hospital Interdisciplinario Psicoasistencial)</h3>
                    <p><strong>Ubicación:</strong> Av. Ramón Carrillo 375, Ciudad Autónoma de Buenos Aires</p>
                    <p><strong>Teléfono:</strong> +54 11 4123-3700</p>
                    <p><strong>Servicios:</strong> Especializado en el tratamiento de adultos con problemas psiquiátricos severos, incluyendo internación y tratamientos ambulatorios.</p>
                    <p><strong>Horario de atención:</strong> Lunes a viernes, de 8:00 a 20:00.</p>
                </div>
            </section>
    
            <!-- Hospital Moyano -->
            <section class="hospital">
                <img src="../imgs/moyano.jpg" alt="Hospital Moyano">
                <div class="hospital-info">
                    <h3>Hospital Moyano</h3>
                    <p><strong>Ubicación:</strong> Dr. Enrique Finochietto 850, Ciudad Autónoma de Buenos Aires</p>
                    <p><strong>Teléfono:</strong> +54 11 4304-5548</p>
                    <p><strong>Servicios:</strong> Proporciona atención especializada en salud mental para mujeres, con servicios de hospitalización y consultas ambulatorias.</p>
                    <p><strong>Horario de atención:</strong> Lunes a viernes, de 8:00 a 20:00.</p>
                </div>
            </section>
    
            <!-- Centro de Salud Mental Ameghino -->
            <section class="hospital">
                <img src="../imgs/ameghino.jpg" alt="Centro de Salud Mental Ameghino">
                <div class="hospital-info">
                    <h3>Centro de Salud Mental Ameghino</h3>
                    <p><strong>Ubicación:</strong> Av. Córdoba 3120, Ciudad Autónoma de Buenos Aires</p>
                    <p><strong>Teléfono:</strong> +54 11 4962-1604</p>
                    <p><strong>Servicios:</strong> Ofrece atención psiquiátrica y psicológica ambulatoria y cuenta con programas de apoyo para adultos y adolescentes.</p>
                    <p><strong>Horario de atención:</strong> Lunes a viernes, de 8:00 a 18:00.</p>
                </div>
            </section>
    
            <!-- Centro de Salud Mental N°1 “Dr. Hugo Rosarios” -->
            <section class="hospital">
                <img src="../imgs/hugo.jpg" alt="Centro de Salud Mental Dr. Hugo Rosarios">
                <div class="hospital-info">
                    <h3>Centro de Salud Mental N°1 “Dr. Hugo Rosarios”</h3>
                    <p><strong>Ubicación:</strong> Av. Belgrano 3075, Ciudad Autónoma de Buenos Aires</p>
                    <p><strong>Teléfono:</strong> +54 11 4867-1300</p>
                    <p><strong>Servicios:</strong> Proporciona atención integral en salud mental, enfocándose en el tratamiento de crisis y la rehabilitación de pacientes con trastornos mentales severos.</p>
                    <p><strong>Horario de atención:</strong> Lunes a viernes, de 8:00 a 16:00.</p>
                </div>
            </section>
    
            <!-- Hospital Provincial de Salud Mental - Elizalde -->
            <section class="hospital">
                <img src="../imgs/elizalde.jpg" alt="Hospital Elizalde">
                <div class="hospital-info">
                    <h3>Hospital Provincial de Salud Mental - Elizalde</h3>
                    <p><strong>Ubicación:</strong> Santa Fe, Provincia de Santa Fe</p>
                    <p><strong>Teléfono:</strong> +54 342 457-2532</p>
                    <p><strong>Servicios:</strong> Brinda servicios de internación y tratamiento para adultos con trastornos psiquiátricos y realiza derivaciones según necesidad.</p>
                    <p><strong>Horario de atención:</strong> Consultar con el hospital para el horario específico de atención.</p>
                </div>
            </section>
    
            <!-- Unidad de Salud Mental, Hospital de Niños Ricardo Gutiérrez -->
            <section class="hospital">
                <img src="../imgs/unidad gutiterrez.jpg" alt="Hospital de Niños Ricardo Gutiérrez">
                <div class="hospital-info">
                    <h3>Unidad de Salud Mental, Hospital de Niños Ricardo Gutiérrez</h3>
                    <p><strong>Ubicación:</strong> Buenos Aires, Ciudad Autónoma de Buenos Aires, 3er piso, Pabellón A</p>
                    <p><strong>Contacto:</strong> Teléfonos 4962-9247 / 9248 / 9280, Email: saludmentalhnrg@gmail.com</p>
                    <p><strong>Horario:</strong> Lunes a viernes, de 11:00 a 12:30</p>
                    <p>Este centro atiende a niños, niñas y adolescentes y cuenta con servicios en psicología, psiquiatría, psicopedagogía, y musicoterapia​.</p>
                </div>
            </section>
    
            <!-- Centro de Salud Mental Dr. Enrique Barros -->
            <section class="hospital">
                <img src="../imgs/enrique barrios.jpg" alt="Centro de Salud Mental Dr. Enrique Barros">
                <div class="hospital-info">
                    <h3>Centro de Salud Mental Dr. Enrique Barros</h3>
                    <p><strong>Ubicación:</strong> Provincia de Córdoba</p>
                    <p><strong>Servicios:</strong> Ofrece atención para adultos y adolescentes, con programas en psicoterapia y rehabilitación. Este centro forma parte de una red provincial que proporciona servicios gratuitos y de acceso público para quienes lo necesiten en la región.</p>
                </div>
            </section>
    
            <!-- Instituto de Neurología Cognitiva (INECO) -->
            <section class="hospital">
                <img src="../imgs/ineco.jpg" alt="Instituto de Neurología Cognitiva (INECO)">
                <div class="hospital-info">
                    <h3>Instituto de Neurología Cognitiva (INECO)</h3>
                    <p><strong>Ubicación:</strong> Ciudad Autónoma de Buenos Aires</p>
                    <p><strong>Servicios:</strong> INECO ofrece evaluaciones, terapias y servicios de investigación centrados en el desarrollo de nuevas técnicas de tratamiento para enfermedades mentales, con un enfoque en patologías neuropsiquiátricas.</p>
                </div>
            </section>
        </div>
    </main>
    
    <div class="btn-up">
        <img src="../imgs/flecha-arriba.png" alt="Subir">
    </div>


    <script>
        window.onscroll = () => {
            if (document.documentElement.scrollTop > 200) {
                document.querySelector('.btn-up').classList.add('show');
            } else {
                document.querySelector('.btn-up').classList.remove('show');
            }
        }

        document.querySelector('.btn-up').addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>

    <footer>
        <div class="datos">

            <div>
                <p>
                    Somos una pagina sobre salud mental, su importancia, ayudas, información y mas.
                </p>
                <p>
                    Hecha por dos estudiantes que quieren ayudar y visibilizar mas la importancia del cuidado correcto de la salud.
                </p>
            </div>
            <div class="redes">

                <a href=""><img src="../imgs/ig.png" alt="ig" class="ig">
                    <p>Instagram</p>
                </a>
                <a href="#"><img src="../imgs/face.png" alt="face" class="face">
                    <p>Facebook</p>
                </a>
                <a href="#"><img src="../imgs/x.png" alt="x" class="x">
                    <p>Twitter</p>
                </a>

            </div>
            <div class="navegador">
                <h3>Navegador:</h3>
                <a href="../../index.html">Inicio</a>
                <a href="informacion.html">Información</a>
                <a href="#">Ayudas</a>
                <a href="sobreNosotros.html">Sobre nosotros</a>
                <a href="contacto.html">Contactos</a>
            </div>
        </div>
    </footer>
</body>

</html>