<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/info.css">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <a href="#" class="logo">
            <img src="../imgs/logo.png" alt="Logo de la página" title="Inicio">
            <h2 class="titulo">Salud Mental</h2>
        </a>

        <button id="btn-menu" aria-label="Abrir menú">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="menu">
            <a href="../../index.html">Inicio</a>
            <a href="#">Información</a>
            <a href="galeria.html">Ayudas</a>
            <a href="sobreNosotros.html">Sobre nosotros</a>
            <a href="contacto.html">Contactos</a>
        </nav>
    </header>

    <main>
        <!-- Sección principal -->
        <section class="entrar">
            <h2>La importancia de la salud mental</h2>
            <img src="../imgs/gato.jpeg" alt="Imagen sobre salud mental" class="imagen-destacada">
        </section>
        <p class="dato">
            La salud mental en Argentina es crucial para el bienestar personal, social, y económico. Afecta la calidad de vida,
            el desarrollo de los individuos, y tiene un impacto directo en la productividad y cohesión social del país.
        </p>

        <h2 class="entrar">LEY NACIONAL de la salud mental(26.657)</h2>
        <p class="parrafo">
            La promulgación de la Ley Nacional de Salud Mental N° 26.657 en 2010 marcó un hito significativo en la
            atención de la salud mental en Argentina. Esta legislación se fundamenta en los
            principios de derechos humanos, promoviendo un enfoque comunitario y la integración social de las personas
            con trastornos mentales. Al prohibir la creación de hospitales monovalentes y
            fomentar la atención en hospitales generales, la ley busca garantizar que el tratamiento se realice en
            entornos menos estigmatizantes y más accesibles. La importancia de este marco legal
            radica en su contribución a la deshumanización de la atención psiquiátrica tradicional y en la promoción de
            una sociedad más inclusiva.
        </p>
        <h2 class="entrar">PROBLEMATICA</h2>
        <p class="parrafo">La disparidad en el acceso a servicios de salud mental es una problemática significativa en
            Argentina. Las áreas urbanas, como Buenos Aires, Córdoba y Rosario, cuentan con
            una mayor concentración de profesionales y centros de atención, mientras que las zonas rurales y menos
            pobladas enfrentan una falta de recursos y servicios. Esta desigualdad afecta especialmente
            a las personas de bajos recursos, quienes dependen del sistema público y a menudo enfrentan largas esperas y
            tratamientos insuficientes. La importancia de abordar esta brecha radica en la necesidad
            de garantizar que todas las personas, independientemente de su ubicación geográfica o condición
            socioeconómica, tengan acceso a una atención adecuada y oportuna.</p>
        <h2 class="entrar">ESTIGMATIZACION</h2>
        <p class="parrafo">El estigma social asociado a los trastornos mentales continúa siendo un obstáculo importante
            en Argentina. A pesar de las campañas de concientización, muchas personas aún evitan buscar
            ayuda por temor a ser etiquetadas negativamente o discriminadas. Esta barrera cultural se ve exacerbada por
            una percepción tradicional que valora la fortaleza emocional, haciendo que la búsqueda de apoyo
            psicológico sea vista como una debilidad. La importancia de combatir el estigma reside en fomentar una
            cultura de apertura y apoyo, donde la salud mental sea tratada con la misma seriedad y respeto que la salud
            física.</p>
        <h2 class="|zonas">PANDEMIA</h2>
        <p class="parrafo">La pandemia de COVID-19 ha tenido un impacto profundo en la salud mental de la población
            argentina. El confinamiento, la incertidumbre económica y la pérdida de seres queridos han incrementado
            significativamente los niveles de ansiedad, depresión y estrés postraumático. Este aumento en la demanda de
            servicios psicológicos ha revelado las limitaciones del sistema de salud mental, subrayando la importancia
            de fortalecer la infraestructura y los recursos disponibles para hacer frente a crisis futuras. Además,
            resalta la necesidad de implementar estrategias de prevención y apoyo psicológico a gran escala.
        </p>
        <h2 class="entrar">CONCLUSION</h2>
        <p class="parrafo">La salud mental en Argentina es un tema de vital importancia que afecta a individuos,
            familias y la sociedad en su conjunto. A través de un marco legal adecuado, una asignación de recursos
            justa,
            la reducción de barreras culturales y el fortalecimiento de los servicios disponibles, es posible mejorar
            significativamente el bienestar mental de la población. Reconocer y abordar la importancia de la salud
            mental
            es un paso crucial hacia una sociedad más equitativa y saludable.</p>
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="datos">
            <div>
                <p>
                    Somos una página dedicada a la salud mental, su importancia, ayudas, información y más.
                </p>
                <p>
                    Creada por dos estudiantes que buscan visibilizar la importancia del cuidado adecuado de la salud mental.
                </p>
            </div>

            <!-- Redes sociales -->
            <div class="redes">
                <a href="#" aria-label="Instagram">
                    <img src="../imgs/ig.png" alt="Instagram" class="ig">
                    <p>Instagram</p>
                </a>
                <a href="#" aria-label="Facebook">
                    <img src="../imgs/face.png" alt="Facebook" class="face">
                    <p>Facebook</p>
                </a>
                <a href="#" aria-label="Twitter">
                    <img src="../imgs/x.png" alt="Twitter" class="x">
                    <p>Twitter</p>
                </a>
            </div>

            <!-- Navegador -->
            <div class="navegador">
                <h3>Navegador:</h3>
                <a href="../../index.html">Inicio</a>
                <a href="#">Información</a>
                <a href="galeria.html">Ayudas</a>
                <a href="sobreNosotros.html">Sobre nosotros</a>
                <a href="contacto.html">Contactos</a>
            </div>
        </div>
    </footer>

    <script>
        // Mostrar y ocultar el menú móvil
        document.querySelector('#btn-menu').addEventListener('click', () => {
            document.querySelector('.menu').classList.toggle('desplegado');
        });
    </script>
</body>

</html>
