<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sobre.css">
</head>

<body>
    <header>
        <a href="../../index.html" class="logo" title="Inicio">
            <img src="../imgs/logo.png" alt="logo">
            <h2 class="titulo">Salud Mental</h2>
        </a>

        <button id="btn-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <script>
            document.querySelector('#btn-menu').addEventListener('click', () =>
                document.querySelector('.menu').classList.toggle('desplegado')
            );
        </script>

        <div>
            <nav class="menu">
                <a href="../../index.html">Inicio</a>
                <a href="#">Información</a>
                <a href="../pages/galeria.html">Ayudas</a>
                <a href="#">Sobre nosotros</a>
                <a href="../pages/contacto.html">Contactos</a>
            </nav>
        </div>

    </header>

    <nav id="menu" class="menu">
        <a href="../../index.html">Inicio</a>
        <a href="#">Información</a>
        <a href="../pages/galeria.html">Ayudas</a>
        <a href="#">Sobre nosotros</a>
        <a href="../pages/contacto.html">Contactos</a>
    </nav>

    <main>
        <section>
            <h3><span class="azul">Somos</span> dos estudiantes de la <span class="rojo">E.E.S.T N°1</span></h3>
            <p>Y buscamos contar un poco sobre la salud mental.A la vez que intentamos dar ayuda e informacion </p>
        </section>
        <section>
            <p>Este es un <span class="azul">proyecto</span> para <span class="rojo">diseño web.</span>El cual esta
                centrado en el <span class="rojo">diseño</span> y el <span class="azul">responsive</span> del sitio web.
            </p>
        </section>
    </main>

    <footer>
        <div class="datos">
            <div>
                <p>
                    Somos una pagina sobre salud mental, su importancia, ayudas, información y mas.
                </p>
                <p>
                    Hecha por dos estudiantes que quieren ayudar y visibilizar mas la importancia del cuidado correcto
                    de la salud.
                </p>
            </div>
            <div class="redes">

                <a href=""><img src="../imgs/ig.png" alt="ig" class="ig">
                    <p>Instagram</p>
                </a>
                <a href="#"><img src="../imgs/face.png" alt="face" class="face">
                    <p>Facebook</p>
                </a>
                <a href="#"><img src="../imgs/x.png" alt="x" class="x">
                    <p>Twitter</p>
                </a>

            </div>
            <div class="navegador">
                <h3>Navegador:</h3>
                <a href="../../index.html">Inicio</a>
                <a href="#">Información</a>
                <a href="../pages/galeria.html">Ayudas</a>
                <a href="#">Sobre nosotros</a>
                <a href="../pages/contacto.html">Contactos</a>
            </div>
        </div>
    </footer>
</body>

</html>